.DS_Store
.idea
nbproject
/var/*
!/var/labels
/vendor
/public/*
!/public/.htaccess
!/public/typo3conf
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
/public/fileadmin

/public/typo3conf/ext/news/
/public/typo3conf/ext/dp_cookieconsent/
/public/typo3conf/ext/headless/
/public/typo3conf/ext/mask/
/public/typo3conf/ext/phpmyadmin/
/public/typo3conf/ext/recaptcha/
/public/typo3conf/ext/t3template/
.env
/packages/miux_template/Resources/Private/node_modules/
/packages/miux_template/Resources/Public/*
/packages/miux_template/Resources/Public/
